@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --foreground: #171717;
  --background: #f9fafb;
}

.dark {
  --foreground: #ededed;
  --background: #111827;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}
